body {
  background-color: lightgreen;
}
h1 {
  text-align: center;
  color: white;
  font-size: 6ch;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

nav li {
  display: inline;
  margin-left: 3px;
}

button {
  padding: 8px;
  background-color: #dddddd;
  width: 90px;
  height: 40px;
}

nav {
  background-color: white;
  border: 1px;
  border-color: black;
  border-style: solid;
}

li button:hover {
  background-color: grey;
}

#search_li {
  position: absolute;
  right: 150px;
  padding-top: 10px;
}

#playlists {
  background-color: white;
  display: inline-flexbox;
  width: 169px;
  border: 1px;
  border-color: black;
  border-style: solid;
  height: 50ch;
  text-align: center;
}

#playlist_features {
  padding-top: 165%;
}

.create_playlist_btn {
  margin-top: 5%;
  width: 80%;
}

.delete_playlist_btn {
  margin-top: 5%;
  width: 80%;
}
#displayed_data {
  background-color: white;
  border: 1px;
  border-color: black;
  border-style: solid;
  width: 100%;
}

#big_div {
  display: flex;
  gap: 2rem;
}

#add_track_btn {
  padding: 1px;

  background-color: #dddddd;
  width: 5%;
  height: 1%;
}
